body{
    font-family:  Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
}

img#fondo {
    width: 56%;   
}

div#contprincipal{
    background-color: black;
}

div.menu{
    width: 44%;
    float: right;
    background-color: black;
}

h1{
    color: white;
    text-align: center;
    margin: 1%;
    margin-bottom: 3%;
    font-size: 75px;
}

h1.secundario{
    color: white;
    text-align: center;
    margin: 1%;
    margin-bottom: 3%;
    font-size: 45px;

}


h2{
    color:white;
    text-align: center;
    padding: 2%;
    border-radius: 3px;
    background-color: skyblue;
}

h3{
    color: white;
    margin-bottom: 0;
}

h3.secundario{
    color: skyblue;
    margin-bottom: 5px;

}

div.listados{
    height: 37em;
}


li{
    color: white;
    margin: 3%;
}

div.botones{
    text-align: center;
}

button{
    width: 60%;
    margin-bottom: 10px;
    background-color: white;
    padding: 2%;
    border-color: skyblue;
    border-radius: 10px;
    border-width: 4px;
    color: black;
    font-size: 20px;
}

a{
    color: black;
    font-size: 20px;
    text-decoration: none;  
}

img#perfilinsta{
    width: 70%;
    margin: 10px;
    
}

a#linkinsta{
    color: skyblue;
}

button#botonformulario{
    width: 40%;
    margin-bottom: 10px;
    background-color: skyblue;
    padding: 1%;
    border-color: white;
    border-radius: 10px;
    border-width: 4px;
    color: white;
    font-size: 20px;
    margin-left: 50px;
}

div.formulario{
    margin-left: 25%;
}
form{
    text-align: justify;
    color: white;
    margin-bottom: 6em;
    font-size: 20px;
    
}
 label{
    vertical-align: top;
 }

input{
    border-radius: 5px;
    width: 190px;
    height: 30px;
}

textarea{
    border-radius: 5px;
    width: 190px;
    height: 50px;
}

